.example-spacer {
  padding: 5px 10%;
}

.example-title {
  padding: 5px 25%;
}


span {
  padding: 5px 5px 5px 5px;
}

.example-container {
  height: 70%;
}

mat-drawer {
  width: 300px;
  padding: 30px;
}
